---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import ProseLayout from "./ProseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<ProseLayout title={title} description={description}>
	<header class="flex flex-col gap-4 text-center">
		<div class="flex w-full flex-col md:flex-row g-4">
			<div class="w-full md:w-2/3">
				{
					heroImage && (
						<img
							class="w-auto block h-2 m-auto rounded-4xl shadow-[var(--box-shadow)]"
							// width={1020}
							// height={612}
							src={heroImage}
							alt=""
						/>
					)
				}
			</div>
			<div class="grow text-center">
						<h1>{title}</h1>
						<div class="flex justify-center text-text">
							{updatedDate?(
								updatedDate && (
										<span>Actualizado el{" "}</span>
										<FormattedDate date={updatedDate} />
								)
							):(
								<FormattedDate date={pubDate} />
							)}
						</div>
					</div>
		</div>
			<!-- <span>by javimogan</span> -->
	</header>
	<div>
		<slot />
	</div>
</ProseLayout>
